[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sklearn = "*"
blessed = "*"
torch = "*"
skorch = "*"

[dev-packages]

[requires]
python_version = "3.9"

[packages.quill_ml]
git = "https://github.com/daniele-canavese/quill_ml.git"
editable = true

[packages.quill]
git = "https://github.com/daniele-canavese/quill.git"
editable = true

[packages.ops]
git = "https://github.com/daniele-canavese/ops.git"
editable = true
