[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sklearn = "*"
blessed = "*"
torch = "*"
skorch = "*"
ops = { git = "https://github.com/daniele-canavese/ops.git", editable = true }
quill = { git = "https://github.com/daniele-canavese/quill.git", editable = true }
quill_ml = { git = "https://github.com/daniele-canavese/quill_ml.git", editable = true }

[dev-packages]

[requires]
python_version = "3.9"
